{% extends "base.html" %}


{% block title %}
Choose Stop ({{ r }})
{% endblock %}

{% block header %}
Choose Stop ({{ r }})
{% endblock %}

{% block content %}
{% for route in result %}
<a class="w3-button" style="text-align: left; width:100%;" id="{{ route['tag'] }}" href="#{{ route['tag'] }}">{{ route['title'] }} ({{ route['tag'] }})</a><br>
{% for stop in route['stops'] %}
<!--<a class="w3-button" style="width: auto;" href="https://www.google.com/maps/search/{{ stop['lat'] }},%20{{ stop['lon'] }}">View</a>-->
<a class="w3-button" style="text-align: left; text-indent: 20px; width: 100%;" href="{{ stop_url.format(stop['tag']) }}">{{ stop['title'] }}</a>
{% endfor %}
{% endfor %}
{% endblock %}
