{% extends "base.html" %}


{% block title %}
{{ stop['title'] }}
{% endblock %}

{% block header %}
{{ stop['title'] }}
{% endblock %}

{% block content %}
{% for route in result %}
<h1>{{ route['preds']['title'] }}</h1>

{% if not not route['preds'] %}

{% if route['preds_prediction_dict'] %}
<p>{{ route['preds']['prediction']['branch'] }} {{ route['preds']['prediction']['minutes'] }} min</p>

{% else %}

{% for preds in route['preds']['prediction'] %}
<p>{{ preds['branch'] }} {{ preds['minutes'] }} min</p>
{% endfor %}
{% endif %}

{% else %}

<p>No Predictions</p>

{% endif %}
{% endfor %}
{% endblock %}
